@use '@/styles/variables.scss' as *;

.task-app {
  &__logo {
    width: 50px;
    height: 50px;
  }

  &__main-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__history-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
}