@use '@/styles/variables.scss' as *;

@use '@/styles/App.scss' as *;
@use '@/styles/TaskItem.scss' as *;
@use '@/styles/TaskFilters.scss' as *;
@use '@/styles/TaskStats.scss' as *;
@use '@/styles/TaskHistory.scss' as *;